*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100%;
    width: 100vh;
    display: flex;
}
.main{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.navbar{
    position: relative;
    z-index: 1;
}
.main-1{
    position: absolute;
}
.collapse{
    display: flex;
    justify-content: end;
}
.unordered{
    position: absolute;
    top: 50%;
    left: 65%;
    list-style: none;
    font-size: 40px;
    top: 128px;
    

}
.list-1{
    font-family: 'Belanosima', sans-serif;
    font-size: 40px

}
.list-2{
   font-family: 'Belanosima', sans-serif

}
.list-3{
    font-family: 'Belanosima', sans-serif

}
.list-4{
    font-family: 'Belanosima', sans-serif
}
.main-1 h1{
    margin-left: 480px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ron{
    background-color: rgb(221, 221, 221);
}
#carouselExample{
    position: relative;
}
#carouselExample h1{
    position: absolute;
    top: 400px;
    left: 455px;
    bottom: 500px;
    font-family: 'Belanosima', sans-serif;
    color: rgb(63, 63, 170);
}
#more{
    position: absolute;
    left: 1020px;
    top: 480px;
    background-color: rgb(112, 112, 204);
    color: white;
    border-radius: 8%;
    
}
.video{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: bisque;
    
}
.video-1{
    width: 50%;
    margin: 20px;
}
.video-2{
    width: 50%;
    margin: 20px;
}
.center{
    text-align: center;
}
.center-1{
    text-align: center;
    color: red;
    font-family: 'Belanosima', sans-serif;
}
h3{
    font-family: 'Belanosima', sans-serif;
    
}
.footer{
    width: 100%;
    height: 300px;
margin-top: 50px;
justify-content: center;
display: flex;
background-color: rgb(28, 28, 137);

    
}
.foot-l{
    margin-top: 50px;
    width: 25%;
    color: rgb(226, 147, 0);
}
.foot-1 ul{
    list-style: none;
   
}
.foot-2{
    margin-top: 0px;
    width: 25%;
    color: orange;
    margin-left: 220px;

}
.foot-2 ul{
    display: flex;
    list-style: none;
    margin-left: -50px;
    font-size: 20px;
    
   
   
    
    
}
.foot-2 ul li{
    padding: 10px;
}
.img{
   
}
